In [1]:
import pytz
import os
from datetime import datetime, timedelta
import pandas as pd
from pandas.tseries.offsets import MonthBegin
import urllib2
import cPickle
from sunpy.time import TimeRange
from sunpy.instr import goes
from sunpy.net import hek
client = hek.HEKClient()

In [11]:
date_values = pd.date_range(pd.Timestamp('2015-03-01').tz_localize('utc'), 
                          pd.Timestamp('2015-04-01').tz_localize('utc'),  freq='MS')

# Group all data from GOES

In [4]:
goes_data_all = pd.DataFrame()
for d in xrange(len(date_values) - 1):
    # Get FL data from GOES
    goes_data = pd.DataFrame.from_csv('{0}GOES-FL-{1}.csv'.format(directory, str(date_values[d].to_period('M'))))
    goes_data_all = goes_data_all.append(goes_data, ignore_index=True)
    print "Done FL, {0}".format(str(date_values[d].to_period('M')))

Done FL, 2011-03
Done FL, 2011-04
Done FL, 2011-05
Done FL, 2011-06
Done FL, 2011-07
Done FL, 2011-08
Done FL, 2011-09
Done FL, 2011-10
Done FL, 2011-11
Done FL, 2011-12

In [6]:
goes_data_all[:3]

,end_time,event_date,goes_class,goes_location,noaa_active_region,peak_time,start_time,flux
0,2011-03-01 00:27:00,2011-02-28,C1.6,"(0, 0)",0,2011-03-01 00:05:00,2011-02-28 23:11:00,1.6e-06 W / m2
1,2011-03-01 04:40:00,2011-03-01,C6.0,"(-32, 24)",11164,2011-03-01 04:13:00,2011-03-01 02:30:00,6e-06 W / m2
2,2011-03-01 09:34:00,2011-03-01,C2.9,"(0, 0)",11164,2011-03-01 09:18:00,2011-03-01 08:52:00,2.9e-06 W / m2

In [5]:
goes_data_all['flux'] = ''
for ind, gc in zip(goes_data_all.index, goes_data_all.goes_class):
    goes_data_all.set_value(ind, 'flux', goes.flareclass_to_flux(gc))

In [30]:
set(goes_data_all.goes_class)

{'B1.1',
 'B1.2',
 'B1.3',
 'B1.5',
 'B1.6',
 'B1.7',
 'B1.8',
 'B1.9',
 'B2.0',
 'B2.1',
 'B2.2',
 'B2.3',
 'B2.4',
 'B2.5',
 'B2.6',
 'B2.7',
 'B2.8',
 'B2.9',
 'B3.0',
 'B3.1',
 'B3.2',
 'B3.3',
 'B3.4',
 'B3.5',
 'B3.6',
 'B3.7',
 'B3.8',
 'B3.9',
 'B4.0',
 'B4.1',
 'B4.2',
 'B4.3',
 'B4.4',
 'B4.5',
 'B4.6',
 'B4.7',
 'B4.8',
 'B4.9',
 'B5.0',
 'B5.1',
 'B5.2',
 'B5.3',
 'B5.4',
 'B5.5',
 'B5.6',
 'B5.7',
 'B5.8',
 'B5.9',
 'B6.0',
 'B6.1',
 'B6.2',
 'B6.3',
 'B6.4',
 'B6.5',
 'B6.6',
 'B6.7',
 'B6.8',
 'B6.9',
 'B7.0',
 'B7.1',
 'B7.2',
 'B7.3',
 'B7.4',
 'B7.5',
 'B7.6',
 'B7.7',
 'B7.8',
 'B7.9',
 'B8.0',
 'B8.1',
 'B8.2',
 'B8.3',
 'B8.4',
 'B8.5',
 'B8.6',
 'B8.7',
 'B8.8',
 'B8.9',
 'B9.0',
 'B9.1',
 'B9.2',
 'B9.3',
 'B9.4',
 'B9.5',
 'B9.6',
 'B9.7',
 'B9.8',
 'B9.9',
 'C1.0',
 'C1.1',
 'C1.2',
 'C1.3',
 'C1.4',
 'C1.5',
 'C1.6',
 'C1.7',
 'C1.8',
 'C1.9',
 'C2.0',
 'C2.1',
 'C2.2',
 'C2.3',
 'C2.4',
 'C2.5',
 'C2.6',
 'C2.7',
 'C2.8',
 'C2.9',
 'C3.0',
 'C3.1',
 'C3.2',
 'C3.3',
 'C3.4',
 'C3.5',
 'C3.6',
 'C3.7',
 'C3.8',
 'C3.9',
 'C4.0',
 'C4.1',
 'C4.2',
 'C4.3',
 'C4.4',
 'C4.5',
 'C4.6',
 'C4.7',
 'C4.8',
 'C4.9',
 'C5.0',
 'C5.1',
 'C5.2',
 'C5.3',
 'C5.4',
 'C5.5',
 'C5.6',
 'C5.7',
 'C5.8',
 'C5.9',
 'C6.0',
 'C6.1',
 'C6.2',
 'C6.3',
 'C6.4',
 'C6.5',
 'C6.6',
 'C6.7',
 'C6.9',
 'C7.0',
 'C7.1',
 'C7.2',
 'C7.3',
 'C7.5',
 'C7.6',
 'C7.7',
 'C7.8',
 'C7.9',
 'C8.3',
 'C8.4',
 'C8.5',
 'C8.6',
 'C8.7',
 'C8.8',
 'C8.9',
 'C9.0',
 'C9.1',
 'C9.2',
 'C9.3',
 'C9.4',
 'C9.5',
 'C9.6',
 'C9.9',
 'M1.0',
 'M1.1',
 'M1.2',
 'M1.3',
 'M1.4',
 'M1.5',
 'M1.6',
 'M1.7',
 'M1.8',
 'M1.9',
 'M2.0',
 'M2.1',
 'M2.2',
 'M2.3',
 'M2.4',
 'M2.5',
 'M2.6',
 'M2.7',
 'M2.8',
 'M3.0',
 'M3.1',
 'M3.2',
 'M3.5',
 'M3.7',
 'M3.9',
 'M4.0',
 'M4.2',
 'M4.3',
 'M4.4',
 'M5.3',
 'M5.8',
 'M6.0',
 'M6.7',
 'M7.1',
 'M7.4',
 'M9.3',
 'X1.4',
 'X1.5',
 'X1.8',
 'X1.9',
 'X2.1',
 'X6.9'}

In [28]:
goes_data_all['flux'] = goes_data_all.goes_class.apply(lambda x: goes.flareclass_to_flux(x))

AttributeError: 'module' object has no attribute 'flareclass_to_flux'

In [16]:
flux_unit = ' W / m2'
test_val = float(test_val.replace(flux_unit, ''))
test_val

1.2e-06

In [20]:
test_val*10

1.2e-05

In [8]:
# goes_data_all.groupby(['noaa_active_region'])[['flux']].median()

# Group data from SDO

In [ ]:
AR_data_all = pd.DataFrame()
for d in xrange(len(date_values) - 1):
    # Get FL data from GOES
    AR_data = pd.DataFrame.from_csv('{0}SDO-AR-{1}.csv'.format(directory, str(date_values[d].to_period('M'))))
    AR_data_all = AR_data_all.append(AR_data, ignore_index=True)
    print "Done FL, {0}".format(str(date_values[d].to_period('M')))